{{ define "styles" }}
<link rel="stylesheet" href="/dist/courses.css">
<link rel="stylesheet" href="/dist/{{ .Params.styles}}"> 
{{ end }} 

{{ define "main" }}

<div class="jumbotron jumbotron-fluid" id="page-header">

    <div class="container">

        <h1> {{ .Params.name }}</h1>

    </div>

</div>

<div class="container" id="overview-container">
    <div class="row">
        <div class="col-md-8">
            {{ .Content }}
        </div>
        <div class="col-md-4">
            <div class="course-details card">
                <div class="card-body">
                    <h5 class="card-title">Details:</h5>
                    <p class="card-text">
                        <ul>
                            <li> Evening track: {{ .Params.courseLength }} </li>
                            <li> Schedule: {{ .Params.courseSchedule }} </li>
                            <li> Tuition: ${{ .Params.tuition }} </li>
                        </ul>
                    </p>
                    {{ if (eq .Params.status "open") }}
                    <a href="{{ .Params.link }}" class="btn btn-primary">Enroll Here</a>
                    {{ else }}
                    <a href="#" class="btn btn-primary disabled">Coming Soon!</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

<!--

    Detailed Schedule

    -->

<div class="container-fluid" id="schedule">
    <div class="row">
        <div class="container">
            <h2 class="heading">Course Schedule</h2>

            <div class="schedule-container">

                {{ range .Params.detailSchedule}}

                <div class="card svg-card">
                    <div class="top">
                        <i class="fab {{ .fa }}"></i>
                        <div class="title">
                            <h4 class="main"> {{ .name }} </h4>
                            <h5 class="sub"> {{ .topic }} </h5>
                        </div>
                    </div>

                    <div class="bot">
                        <p>
                            {{ partial (printf .contentPartial) . }}
                        </p>
                    </div>
                </div>

                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "scripts" }}
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
{{ end}}