<footer id="footer" class="container">
  <div class="row" id="contact">
    <div class="col">
      <h3 class="heading">Stay in touch!</h3>
      <p>
        We'd like to deal you in on the latest events & course info
      </p>
      <br>
      <form>
        <div class="form-group">
          <label class="sr-only" for="formName">Name</label>
          <input type="text" class="form-control" id="formName" placeholder="First Name">
        </div>

        <div class="form-group">
          <label class="sr-only" for="formEmail">Email address</label>
          <input type="email" class="form-control" id="formEmail" aria-describedby="emailHelp" placeholder="Email">
        </div>

        <button type="button" class="btn btn-outline-light">GET UPDATES</button>
      </form>
    </div>
  </div>
  <div class="row bottom-matter">
    <div class="col">
      <h5>©2017 Unicorn Code, LLC</h5>
      <a href="#top">BACK TO TOP</a>
    </div>
  </div>

</footer>
