<footer id="footer" class="container-fluid">
  <!-- Thanks message -->
  <div class="row" id="thanks" style="display: none">
    <div class="col">
      <h3 class="heading">Thank you!</h3>
      <p>You'll be up to date with the happenings at Unicorn!</p>
    </div>
  </div>

  <!-- Subscribe form -->
  <div class="row" id="contact">
    <div class="col">
      <h3 class="heading">Stay In Touch</h3>
      <p>
        Stay in the loop with Unicorn news, events, programs, and community
      </p>
      <br>
      <form id="subscribe-form">
        <div class="form-group">
          <label class="sr-only" for="formName">Name</label>
          <input type="text" class="form-control" id="formName" placeholder="First Name">
        </div>

        <div class="form-group">
          <label class="sr-only" for="formEmail">Email address</label>
          <input type="email" class="form-control" id="formEmail" aria-describedby="emailHelp" placeholder="Email">
        </div>

        <button type="button" onclick="subscribe()" class="btn btn-outline-light">GET UPDATES</button>
      </form>
    </div>
  </div>
  <div class="row bottom-matter">
    <div class="col">
      <h5>©2017 Unicorn Code, LLC</h5>
      <a href="#top">BACK TO TOP</a>
    </div>
  </div>

</footer>
