<nav class="navbar navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand" href="#courses">
    {{ partial "svgs/u_sign_rounder.svg" }}
     Unicorn Code School
  </a>

  <div class="spacer mr-auto"></div>

  <div class="text-muted">info@unicorncode.org</div>
  <!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars fa-2x"></i>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
  </div>
  -->
</nav>
