{{ define "styles" }}
<link rel="stylesheet" href="/dist/home.css"> 
{{ end }} 

{{ define "main" }}
<div class="container-fluid">
  <section id="intro" class="row">
    <div id="intro-content" class="col">
      <h1> {{ .Params.zinger }} </h1>

      <h2>
        Coding is for&nbsp;<br>
        <span id="mutant">
          All of Us.
        </span>
        <div class="invisible" id="cursor"></div>

        <span id="three-lines">
          {{ partial "svgs/three_lines.svg" }}
        </span>
      </h2>

      <!--
      <br>
      <a class="btn btn-primary" href="#courses">{{ .Params.cta }}</a>
      -->
    </div>
  </section>

  <section id="hero" class="row">
    <div id="bg"></div>
  </section>

  {{ partial "home/synopsis.html" . }} 
  {{ partial "home/manifesto.html" . }} 
  {{ partial "home/courses.html" . }} 
  {{ partial "home/careers.html" . }}
  {{ partial "home/facts.html" . }} 
  {{ partial "home/about.html" . }}


</div>
{{ end }} 

{{ define "scripts" }}

{{ $sr := resources.Get "dist/scrollreveal.js" }}
{{ $secureSr := $sr | resources.Minify | resources.Fingerprint "sha512" }}
{{ $homejs := resources.Get "dist/home.js" }}
{{ $secureHomejs := $homejs | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureSr.Permalink }}" integrity="{{ $secureSr.Data.Integrity }}"></script>
<script defer type="text/javascript" src="{{ $secureHomejs.Permalink }}" integrity="{{ $secureHomejs.Data.Integrity }}"></script>
{{ end }}