{{ define "styles" }}
<link rel="stylesheet" href="/dist/home.css"> {{ end }} {{ define "main" }}
<div class="container-fluid">
  <section id="intro" class="row">
    <div id="bg">
    </div>

    <!--
    <div id="intro-header">
      <div class="left">
      {{ partial "svgs/u_sign_rounder.svg" }}
        <h5>Unicorn Code</h5>
      </div>
      <div class="right">
        <h5>hello@unicorncode.org</h5>
      </div>
    </div>
    -->

    <div id="intro-content" class="col">
      <!--
      <h1>
        {{ .Params.zinger }}
      </h1>
    -->
      <h1 id="zinger">
        Coding is for
        <span id="mutant">
          All of Us.
        </span>
        <div class="invisible" id="cursor"></div>
      </h1>

      <br>

      <h2>
        {{ .Params.sub_zinger }}
      </h2>

      <br>

      <a class="btn btn-primary" href="#courses">{{ .Params.cta }}</a>
    </div>
  </section>

  {{ partial "home/synopsis.html" . }} {{ partial "home/manifesto.html" . }} {{ partial "home/courses.html" . }} {{ partial "home/careers.html" . }}
  {{ partial "home/facts.html" . }} {{ partial "home/about.html" . }}


</div>
{{ end }} 
{{ define "scripts" }}
<script src="/dist/scrollreveal.js"></script>
<script defer src="/dist/home.js"></script>
{{ end }}