{{ define "styles" }}
<link rel="stylesheet" href="/dist/events.css"> 
{{ end }} 

{{ define "main" }}

<div class="jumbotron jumbotron-fluid" id="page-header">

    <div class="container">

        <h1> 
            Drop In & Learn
        </h1>

        <p>
            Curious about coding?  Come join a free workshop!
        </p>
        <p>
            All events are free & open for every level of experience.
        </p>

    </div>

</div>

<div id="main-content" class="container-fluid">
    <div class="row">
        <div class="col">
            
            <h2>
                Upcoming Workshops & Events
            </h2>

            <hr>

            {{ $events := (where .Data.Pages ".Params.event_date" ">" ( now.Format "2006-01-02" )) }}
            {{ if lt (len $events) 1 }}
            <div id="no-events">
              <p>No upcoming free events scheduled</p>

              <p><em>Check back soon!</em></p>
            </div>

            {{ else }}
            <ul id="events-list">
                {{ range sort .Data.Pages ".Params.event_date" }}

                {{ if gt .Params.event_date  ( now.Format "2006-01-02") }}

                <li>
                    {{ .Render "summary"}}
                </li>

                {{ end }}

                {{ end }}
            </ul>

            {{ end }}
        </div>
    </div>
</div>
{{ end }}