<a 
 class="event-wrapper card card-1"
 href="{{ .Params.eventURL }}" target="_blank">

    <div class="date">
        <div class="month">
            {{ dateFormat "Jan" .Params.event_date }}
        </div>
        <div class="day">
            {{ dateFormat "2" .Params.event_date }}
        </div>

        <div class="weekday">
            {{ dateFormat "Mon" .Params.event_date }}
        </div>
    </div>

    <div class="body">

        <h3 class="title">
            {{ .Params.title }}
        </h3>

        <div class="small">
            {{ .Params.subtitle }}
        </div>

        <div class="time">
            {{ .Params.event_time }}
        </div>
    </div>

    <div class="footer">
        <div class="cost">
            FREE
        </div>
        <div class="call-to-action">
            Enroll Here
        </div>
    </div>
</a>