@import './bootswatch/_variables.scss';

$medium-screen: 40rem;
$large-screen: 60rem;
$transition-collapse:         height 0s ease !default;

// Colors

$gun-metal: #171717;
$navy: #0d1a2d;

// GEOMETRY

$compact-vert-padding: 1rem;
$full-vert-padding: 2rem;

$svg-glyph-margin: 2rem;
$svg-glyph-width: 5rem;
