@import './bootswatch/_variables.scss';

$medium-screen: 768px;
$large-screen: 992px;
$transition-collapse:         height 0s ease !default;

// Colors
$white: #f9f9f9;
$primary: #f46524;
$attention: #ffae88; // dusty pink
$stark: #51b9a3; // teal
$light-gray: #757575;
$medium-gray: #f1f1f1;
$dark-gray: #4f4f4f;
$gun-metal: #171717;
$darkest-gray: $gun-metal;
$navy: #0d1a2d;

// GEOMETRY

$small-vert-padding: 2.5rem;
$med-vert-padding: 3.5rem;
$large-vert-padding: 4rem;

$svg-glyph-margin: 2rem;
$svg-glyph-width: 5rem;

