@import "variables";
@import "mixins";

#page-header {
  @include page-header-pic("/img/group_smiling.jpg");
  margin-bottom: 0;
  p {
    color: $lightest-gray;
    font-size: 20px;
  }
}

h2 {
  font-size: 1.4rem;
  text-transform: initial;
  text-align: center;
}
#main-content {
  padding: 2rem 0;
  background-color: #f5f5f5;
}

ul#events-list {
  // neutralize the list-items
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  li {
    // custom containerizig
    width: 95%;
    max-width: 970px;
    margin: auto;
    background-color: white;
    .card {
      // override some bad defaults
      margin: 2rem 0;
      border: 0;
      overflow: hidden;
    }
  }
}

.event-wrapper {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  &:hover {
    outline-width: 0;
    color: inherit;
    text-decoration: none;
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  >* {
    text-align: center;
    padding: 16px;
  }
  .date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $gun-metal;
    color: $white;
    >* {
      margin: 0 5px;
    }
    .month,
    .day {
      font-weight: bolder;
    }
  }
  .body {
    h3 {
      text-transform: initial;
      font-size: 1.3rem;
    }
    .small {
      font-style: italic;
      margin-bottom: 16px;
    }
  }
  .footer {
    border-top: 1px solid $lightest-gray;
    color: $primary;
    .cost {
      padding-bottom: 8px;
    }
    .call-to-action {
      font-weight: bolder;
    }
  }
}

hr {
  width: 50%;
  border-top: 2px solid $primary;
}

@media screen and (min-width: 600px) {
  hr {
    width: 20rem;
  }
  h2 {
    font-size: 2rem;
  }
  .event-wrapper {
    flex-direction: row;
    >* {
      text-align: center;
      padding: 22px;
    }
    .date {
      flex: 1;
      flex-direction: column;
      .day {
        font-size: 2.5rem;
      }
    }
    .body {
      text-align: start;
      flex: 4;
      .title {
        font-size: 1.7rem;
      }
    }
    .footer {
      font-size: 18px;
      text-align: start;
      flex: 1;
      border-top: 0;
      border-left: 1px solid $lightest-gray;
    }
  }
}