@import './_variables.scss';

$svg-square: 70px;

.full-abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section, footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

svg {
  fill: $primary;
  stroke: $primary;
}

section#intro {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light;

  #intro-content {
    padding: 10rem 2rem 2rem;
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.3rem;
    }
  }

  #bg {
    @extend .full-abs;
    background-image: url("/img/dev_camp.jpg");
    background-size: cover;
    background-position: top;
    top: 4rem;
    filter: brightness(0.4);
  }
}

section#manifesto {

  .heading {
    text-align: center;
  }

  .pic-item {
    padding: 1.2rem 0;

    .top {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      svg {
        height: 80px;
        width: 80px;
        margin-right: 2rem;
      }
    }
  }
}

section#careers {
  text-align: center;
  position: relative;
  background: $primary;
  color: $white;

  .content {
    padding: 1.2rem 0;
  }

  #career-bg {
    @extend .full-abs;
    z-index: 0;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url("/img/manlady.jpg");
    background-size: cover;
    background-position: 66% 50%;
    mix-blend-mode: multiply;
    background-color: $primary;
    filter: grayscale(100%);
    opacity: 0.8;
    background-attachment: scroll;
  }

  @media screen and(min-width: 600px) {
    #career-bg {
      background-attachment: fixed;
    }
  }
  #company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;

    .company-logo-pic {
      margin: 1rem;
      max-height: 2rem;
      flex: 1 0 auto;

      img {
        height: 100%;
        filter: grayscale(1) invert(1) brightness(1.2);
        mix-blend-mode: lighten;
      }
    }
  }
}

section#about {
  background-color: $gun-metal;

  .heading {
    text-align: center;
  }

  hr {
    width: 40%;
    opacity: 0.8;
    border-top: 2px solid $primary;
  }

  p, h3, h4 {
    color: $gray-100;
  }
}

$course-left-padding: 1rem;

section#courses {
  .heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #courses-list {
    .course-item {
      display: flex;
      margin-bottom: 2rem;

      .left {
        .course-pic {
          height: $svg-square;
          width: $svg-square;
        }
      }

      .right {
        margin-left: 1rem;
        .name {
          height: $svg-square;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .desc {
      }
    }
  }
}
