@import './_variables.scss';

$p-width: 32rem;
$banner-img: "/img/people_compressed.jpg";

// Thin out the border on the home page
nav.navbar {
  border-bottom: 2px solid $primary !important;
}

// if screen reveal is going, hide the things
.revealing .sr {
  visibility: hidden;
}

.full-abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section h3 {
  text-align: center;
}

svg {
  fill: $primary;
  stroke: $primary;
}

$cutoff-for-console-effect: 580px;


section#intro {
  color: $navy;
  padding-bottom: 1rem;

  * {
    text-transform: initial;
  }

  h1 {
    color: $dark-gray;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    position: relative;

    #three-lines {
      display: none;
      position: absolute;
      right: 0;
      top: 23px;
      transform: rotate(40deg) translateX(-50%);
    }

    #cursor {
      display: inline-block;
      height: 2.5rem;
      vertical-align: text-bottom;
      top: -4px;
      //margin-left: 2px;
      width: 1rem;
      position: relative;
      background-color: $primary;

      &.invisible {
        visibility: hidden;
      }
    }
  }


  @media screen and (min-width: $medium-screen) {

    h2 {
      font-size: 4rem;

      #cursor {
        height: 4rem;
      }

      #three-lines {
        display: block;
      }

    }

    a {
      padding: 0.7rem;
      background-color: transparent;
      border-width: 3px;
      font-size: 1.5rem;
      color: #fff;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  @media screen and (min-width: $large-screen) {
    h2 {
      br {
        display: none;
      }
    }
  }
}

section#hero {
  padding-bottom: 0;
  margin-bottom: 0;

  #bg {
    // @extend .full-abs;;
    background-image: url($banner-img);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 60vh;
    //filter: brightness(0.4);
  }

  @media screen and (min-width: $medium-screen) {
    #bg {
      height: 75vh;
    }
  }

  @media screen and (min-width: $large-screen) {
    #bg {
      height: 100%;
    }
  }
}

section#synopsis {
  background-color: $primary;

  svg {
    height: $svg-glyph-width;
    width: $svg-glyph-width;
    stroke: transparent;
    fill: $white;
    margin-bottom: 1rem;
  }

  #brief-synopsis {
    color: $white;
    text-align: center;
  }

  @media screen and (min-width: $medium-screen) {
    $extra: 2rem;
    $splitter: 0.5rem;
    $padder: 1rem;

    max-width: 750px;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    top: -150px;
    margin-bottom: -100px;
    position: relative;

    #brief-synopsis {
      font-size: 1.2rem;
      line-height: 2rem;
    }

    svg {
      margin: 0 $splitter 0 0;
      height: $svg-glyph-width + $extra;
      width: $svg-glyph-width + $extra;
      stroke: transparent;

    }

    #brief-synopsis {
      text-align: left;
      padding-left: $svg-glyph-margin - $splitter;
      border-left: 2px solid $white;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $large-screen) {
    top: -200px;
  }
}

section#facts {
  background-color: $gun-metal;

  .fact-item {
    flex: 1;
    margin: 0 1rem 2rem;
    max-width: 26rem;
  }

  .top {
    height: $svg-glyph-width + 1rem;

    .icon {
      height: 80%;

      svg {
        stroke: transparent;
        height: 100%;
      }
    }

    header {
      margin-left: 1rem;

      >* {
        color: $white;
        margin-bottom: 0;
      }

      h4 {
        font-size: 3rem;
      }

      p {
        font-size: small;
        text-transform: uppercase;
      }
    }
  }

  .bot * {
    text-align: center;
    color: #aaa;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media screen and (min-width: $large-screen) {
    padding: 2rem 0;

    .fact-item {
      margin-bottom: 0;
    }
  }
}


section#manifesto {
  background-color: #ececec;

  hr {
    width: 40%;
    opacity: .8;
    border-top: 2px solid $primary;
  }

  .pic-item {
    flex: 1;
    text-align: center;
    margin: 0rem 1.2rem 1rem 1.2rem;

    svg {
      stroke: transparent;
      fill: $dark-gray;
      height: $svg-glyph-width;
      width: $svg-glyph-width;
    }

    h4 {
      text-transform: uppercase;
    }

    svg,
    h4 {
      margin-bottom: 1rem;
    }

    p {
      margin: auto;
      max-width: $p-width;
    }
  }
}




// CAREERS


section#careers {
  text-align: center;
  position: relative;
  background: $primary;
  color: $white;

  .content {
    padding: 1.2rem 0;
  }

  #career-bg {
    @extend .full-abs;
    z-index: 0;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url("/img/manlady.jpg");
    background-size: cover;
    background-position: 66% 50%;
    mix-blend-mode: multiply;
    background-color: $primary;
    filter: grayscale(100%);
    opacity: 0.8;
    background-attachment: scroll;
  }


  #company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;

    .company-logo-pic {
      margin: 1rem;
      max-height: 2rem;
      flex: 1 0 auto;

      img {
        height: 100%;
        filter: grayscale(1) invert(1) brightness(1.2);
        mix-blend-mode: lighten;
      }
    }

  }

  @media screen and(min-width: 600px) {
    #career-bg {
      background-attachment: fixed;
    }
  }

  @media screen and(min-width: $large-screen) {

    #company-list {
      max-width: 700px;

      .company-logo-pic {
        margin: 1.5rem;
        max-height: 2.5rem;
      }
    }
  }
}




// ABOUT


section#about {
  text-align: center;

  h3 {
    margin-bottom: 0;
  }

  hr {
    margin: 2rem auto;
    width: 40%;
    opacity: 0.8;
    border-top: 2px solid $primary;
  }

  p {
    max-width: 35rem;
    margin: auto;
  }
}




// COURSES


section#courses {

  p {
    text-align: center;
  }

  #courses-list {
    .course-item {
      padding: 2rem 1rem;
      text-align: center;
      max-width: 30rem;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;

        svg {
          height: $svg-glyph-width;
          width: $svg-glyph-width;
        }

        h4 {
          margin-left: 1rem;
        }
      }

      .bot {
        p {
          text-align: center;
        }
      }
    }
  }

  @media screen and (min-width: $large-screen) {

    #courses-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .course-item {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }

  }
}