@import './_variables.scss';

$p-width: 40rem;

$left-line: $svg-glyph-width + $svg-glyph-margin;


.full-abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


svg {
  fill: $primary;
  stroke: $primary;
}


section#intro {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light;

  #intro-content {
    padding: 10rem 2rem 2rem;
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.3rem;
    }
  }

  #bg {
    @extend .full-abs;
    background-image: url("/img/dev_camp.jpg");
    background-size: cover;
    background-position: top;
    top: 4rem;
    filter: brightness(0.4);
  }
}

section#manifesto {

  .heading {
    text-align: center;
  }

  hr {
    width: 40%;
    opacity: .8;
    border-top: 2px solid $primary;
  }

  .pic-item {
    padding: 1.2rem 0;

    .top {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      svg {
        height: $svg-glyph-width;
        width: $svg-glyph-width;
        margin-right: $svg-glyph-margin;
      }
    }

    p {
      max-width: $p-width;
    }
  }


}



section#careers {
  text-align: center;
  position: relative;
  background: $primary;
  color: $white;

  .content {
    padding: 1.2rem 0;
  }

  #career-bg {
    @extend .full-abs;
    z-index: 0;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url("/img/manlady.jpg");
    background-size: cover;
    background-position: 66% 50%;
    mix-blend-mode: multiply;
    background-color: $primary;
    filter: grayscale(100%);
    opacity: 0.8;
    background-attachment: scroll;
  }

  @media screen and(min-width: 600px) {
    #career-bg {
      background-attachment: fixed;
    }
  }
  #company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;

    .company-logo-pic {
      margin: 1rem;
      max-height: 2rem;
      flex: 1 0 auto;

      img {
        height: 100%;
        filter: grayscale(1) invert(1) brightness(1.2);
        mix-blend-mode: lighten;
      }
    }
  }
}


section#about {
  background-color: $gun-metal;

  .heading {
    text-align: center;
  }

  hr {
    width: 40%;
    opacity: 0.8;
    border-top: 2px solid $primary;
  }

  p, h3, h4 {
    color: $gray-100;
  }
}


section#courses {
  .heading {
    text-align: center;
    margin-top: 1rem;
  }

  #courses-list {
    .course-item {
      display: flex;
      margin-bottom: 2rem;

      .left {
        .course-pic {
          height: $svg-glyph-width;
          width: $svg-glyph-width;
        }

      }

      .right {
        margin-left: $svg-glyph-margin;
        .name {
          height: $svg-glyph-width;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-transform: uppercase;
        }
      }

      .desc {
        max-width: $p-width;
      }
    }
  }
}



@media screen and (min-width: $medium-screen) {
  section#manifesto, section#courses {
    .heading {
      padding-left: $left-line;
      text-align: left;
      font-weight: bold;
      color: $primary;
    }
  }
  section#manifesto {
    p {
      margin-left: $svg-glyph-width + $svg-glyph-margin;
    }
  }

  section#careers {
    padding: 4rem 0;
  }

  section#about {
    p {
      padding-left: $left-line;
      padding-right: $left-line;
      text-align: justify;
    }
  }

  footer #subscribe .form-container {
    padding-left: $svg-glyph-width + $svg-glyph-margin;
  }
}
