@import "variables";
#page-header {
  h1 {
    font-size: 2em;
  }
}

.course-details {
  background-color: $gun-metal;
  color: white;
  h5 {
    color: white;
    font-size: 1.7em;
  }
  li {
    color: white;
    padding-bottom: 1.5em;
    font-size: 1.3em;
  }
}

h2:not(:first-of-type) {
  margin-top: 1.5rem;
}

#overview {
  padding-bottom: 2rem;
}

#schedule {
  background-color: $gun-metal;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  .heading {
    color: $white;
  }
  .schedule-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card.svg-card {
      padding: 2rem 1.5rem;
      .top {
        justify-content: space-between;
        .title {
          text-align: end;
          .main {
            font-size: 2.2rem;
          }
          .sub {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $medium-screen) {
  #page-header {
    h1 {
      font-size: 4em;
    }
  }
}