body {
  padding-top: 5rem;
}


.course-details {
  background-color: #666666;
  color: white;

  h5 {
    color: white;
    font-size: 1.7em;
  }
  li {
    color: white;
    padding-bottom: 1.5em;
    font-size: 1.3em;
  }
}
