@import "variables";
#page-header {
  h1 {
    font-size: 2em;
  }
}
.course-details {
  background-color: #666666;
  color: white;

  h5 {
    color: white;
    font-size: 1.7em;
  }
  li {
    color: white;
    padding-bottom: 1.5em;
    font-size: 1.3em;
  }
}

.schedule-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2:not(:first-of-type) {
  margin-top: 1.5rem;
}

#schedule {
  background-color: #efefef;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: $medium-screen) {
  #page-header {
    h1 {
      font-size: 4em;
    }
  }
  
}