@import './_variables.scss';
@import 'bootstrap.scss';
@import './bootswatch/_flatly.scss';

html, body {
  height: 100%;
  margin: 0;
  border: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
  font-family: 'Quicksand', sans-serif;
}

p {
  letter-spacing: 0.11px;
  font-size: 18.9px;
  line-height: 28.8px;
  word-wrap: break-word;
  color: #666;
}

strong {
  color: $primary;
}

.navbar {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  border-bottom: 5px solid $primary;
  padding: 10px 16px;
}

.navbar-toggler {
  border: 0;
}

.navbar-brand {
  img {
    height: 3.5rem;
  }
}


footer {

  form {
    input.form-control {
      max-width: 15rem;
      border-radius: 1px;
      padding: 15px;
      border-radius: 1px;
      border: none;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 30px;

      &:focus {
        border: 0;
        box-shadow: none;
      }
    }
  }

  .bottom-matter {
    text-align: center;
  }
}
