<section id="about" class="row">
  <div class="col">
    <h3 class="heading">About <strong>Unicorn</strong></h3>
    <hr>
    <p>
      <strong>Unicorn</strong> is the most affordable fully-immersive coding code school.  Our local-oriented curriculum is specially designed according the needs of real employers in the industry.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</section>
