<section id="about" class="row">
  <div class="col">
    <h3 class="heading sr">About <strong>Unicorn</strong></h3>
    <hr>
    <p class="sr">
      <strong>Unicorn</strong> is a locally-sourced, low-cost, fully-immersive coding school.  
      Our curriculum is specially designed to meet the needs of real employers in Spokane and the Inland Northwest.
      We understand that your time is valuable, and so we offer multiple schedule formats for our courses -- full-time immersive 5-days a week, part-time evening courses, or one-off special workshops.
      Our mission is to empower <strong>you</strong> to realize your ideas through code.  The coursework is intensely practical, focusing on making things and learning how to think through real challenges.
    </p>
  </div>
</section>
