<section id="careers" class="row">
  <div id="career-bg"></div>

  <div class="col content">
    <h3 class="sr" style="text-transform: initial">Your Career is About To Upgrade</h3>
    <h4 class="sr" style="text-transform: initial">We partner with local companies ready to hire graduates</h4>

    <br>

    <div id="company-list" class="">
      {{ range .Site.Params.companies }}

      <div class="company-logo-pic">
        <img src="/img/comp_logos/{{ .logo }}" alt="{{ .name }}">
      </div>

      {{ end }}
    </div>
  </div>
</section>
