<section id="manifesto" class="row">
  <div class="col">

    <h3 class="sr">Why Choose Unicorn</h3>

    <div class="
                pic-item-list

                sr 

                d-flex
                flex-column
                justify-content-between

                flex-md-row

                ">

      {{ range .Site.Params.manifesto }}

      <div class="pic-item">

        <div class="pic"> {{ partial (printf "svgs/icons/%s" .svg) }} </div>

        <h4 class="title"> {{ .title }} </h4>

        <p class="subtext"> {{ .sub }} </p>
      </div>

      {{ end }}

    </div>
  </div>

</section>
