<section id="synopsis" class="row">
  <div class="col">
    <div class="
                d-flex
                flex-column

                flex-md-row
                align-items-center
                ">
    <div id="logo">
      {{ partial "svgs/u_sign_rounder.svg" }}
    </div>
    <p id="brief-synopsis">
 Unicorn is a local leader in tech education. Whether you are a professional, or just beginning to code, our proven curriculum and personalized career services are ready to help you on your path.
    </p>
    </div>
  </div>
</section>
